
modulos/nativo/build/addon.vcxproj
modulos/nativo/build/addon.vcxproj.filters
modulos/nativo/build/binding.sln
modulos/nativo/build/config.gypi
modulos/nativo/build/Release/addon.exp
modulos/nativo/build/Release/addon.iobj
modulos/nativo/build/Release/addon.ipdb
modulos/nativo/build/Release/addon.lib
modulos/nativo/build/Release/addon.node
modulos/nativo/build/Release/addon.pdb
modulos/nativo/build/Release/obj/addon/addon.node.recipe
modulos/nativo/build/Release/obj/addon/addon.tlog/addon.lastbuildstate
modulos/nativo/build/Release/obj/addon/addon.tlog/addon.write.1u.tlog
modulos/nativo/build/Release/obj/addon/addon.tlog/CL.command.1.tlog
modulos/nativo/build/Release/obj/addon/addon.tlog/CL.read.1.tlog
modulos/nativo/build/Release/obj/addon/addon.tlog/CL.write.1.tlog
modulos/nativo/build/Release/obj/addon/addon.tlog/link.command.1.tlog
modulos/nativo/build/Release/obj/addon/addon.tlog/link.read.1.tlog
modulos/nativo/build/Release/obj/addon/addon.tlog/link.write.1.tlog
modulos/nativo/build/Release/obj/addon/hola.obj
modulos/nativo/build/Release/obj/addon/win_delay_load_hook.obj
modulos/nativo/index.js
node_modules/
